.chat-message-user {
  display: flex;
  justify-content: end;
  align-items: center;
}

.chat-message-robot {
  display: flex;
  justify-content: start;
  align-items: center;
}

.chat-message-text {
  background-color: #EEEEEE;
  padding: 15px 20px;
  border-radius: 10px;
  max-width: 300px;
  margin: 10px;
  font-size: 15px;
}

.chat-message-profile {
  width: 45px;
}